@import-normalize;
@import 'font.css';
@import 'buttons.css';
@import 'recipe-list.css';
@import 'ingredient-list.css';
@import 'recipe.css';
@import 'recipe-edit.css';
@import 'filter.css';

*,
*::before,
*::after {
	font-family: Gotham Rounded, sans-serif;
	box-sizing: border-box;
}

html {
	font-size: 25px;
	height: 100%;
	overflow-x: hidden;
}
body {
	height: 100%;
	padding: 0;
    margin: 0;
    background-color: #0e3c45;
	overflow-x: hidden;
}
.mr-1 {
	margin-right: 5px;
}
.content {
	width: 100%;
	position: relative;
	overflow-x: hidden;
}