.recipe-list {
	margin-top: 300px;
	min-height: 100vh;
	margin-left: 10px;
	margin-right: 10px;
}

.recipe-list__add-recipe-btn-container {
	padding-bottom: 30px; 
	text-align: center;
}

@media (min-width: 360px) {
	.recipe-list {
	margin-top: 280px;
	}
}

@media (min-width: 540px) {
	.recipe-list {
	margin-top: 300px;
	}
}

@media (min-width: 768px) {
	.recipe-list {
	margin-top: 320px;
	width: 618px;
	margin-left: auto;
	margin-right: auto;
	}
}

@media (min-width: 1500px) {
	.recipe-list {
	max-width: 965px;
	}
}

