.recipe {
	padding: 20px;
	padding-bottom: 30px;
    border-bottom: 1px solid #326167;
    background-color: #8eb3bb;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #16282a;
    border-radius: 20px;
}
.recipe:last-child {
	border-bottom: none;
	padding-bottom: 20px;
}

.recipe__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 30px;
}
.recipe__header button {
	height: 25px;
	font-size: .4rem;
}

.recipe__title {
	margin: 0 8px 0 0;
    font-size: 1.5rem;
    font-weight: normal;
    color: #16282a;
}
.recipe__row {
	margin-top: 10px;
}
.top__three {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.recipe__label {
    margin-right: 15px;
    font-weight: bold;
	color: #4d4f58;
}
.recipe__value {
	font-weight: 200;
	font-size: .9rem;
	text-align: right;
}
.recipe__instructions {
	white-space: pre-wrap;
	line-height: 160%;
	font-size: .9rem;
	text-align: left;
	margin-top: 10px;
}
.ingredients {
	margin-top: 20px;
}
.author {
	margin-top: 20px;
}
.recipe__controls {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 25px;
}
.recipe__controls button {
	margin-left: 5px;
	margin-right: 5px;
	height: 35px;
	font-size: .5rem;
}
@media (min-width: 360px) {
	.recipe {
	padding: 30px;
	}
	.recipe__controls button {
		height: 40px;
		font-size: .6rem;
		padding: 5px 12px;
	}
	.top__three {
		margin-right: 60px;
	}
	.instructions {
		margin-top: 25px;
	}
}
@media (min-width: 540px) {
	.recipe {
	padding: 50px;
	}
	.recipe__title {
	    font-size: 1.9rem;
	}
	.recipe__value {
	font-weight: 250;
	font-size: 1.1rem;
	}
	.top__three {
	margin-right: 150px;
	}
	.instructions {
		margin-top: 35px;
	}
	.ingredients {
	margin-top: 40px;
	}
	.author {
		margin-top: 40px;
	}
	.recipe__controls button {
	height: 50px;
	font-size: .7rem;
	padding: 7px 14px;
	}
}
@media (min-width: 768px) {
	.top__three {
	margin-right: 280px;
	}
}