.recipe-edit {
    padding: 30px;
    padding-top: 5px;
    top: 0;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    overflow-y: auto;
    background-color: #0e3c45;
    color:  #fffbf1;
}
.recipe-edit__remove-button-container {
    text-align: end;
}
.recipe-edit__remove-button { 
	padding: 0px;
	color: #943a2c;;
	background-color: #cddadd;
    font-size: 1rem;
}
.recipe-edit__details-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	row-gap: 10px;
	column-gap: 25px;
}
.recipe-edit__label {
	font-weight: lighter;
}
.recipe-edit__input {
	border: 1px solid black;
	border-radius: 5px;
	font-size: inherit;
	padding: 5px 10px;
	outline: none;
    width: 100%;
    background-color: #cddadd;

}
textarea.recipe-edit__input {
	resize: none;
    height: 150px;
    background-color: #cddadd;

}

.recipe-edit__ingredient-grid {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 10px;
	margin-top: 20px;
    margin-left: 40px;
    font-weight: lighter;
    font-size: smaller;

}
.recipe-edit__add-ingredient-btn-container {
	margin-top: 20px;
	text-align: center;
}
.recipe-edit__submit-recipe-btn-container {
    margin-top: 20px;
    text-align: center;
}
@media (max-width: 1000px) {
	.recipe-edit__details-grid,
	.recipe-edit__ingredient-grid {
		grid-template-columns: 1fr;
	}
}
